name: Testing iwf-python-sdk

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'
    - name: Install deps
      uses: knowsuchagency/poetry-install@v1
      env:
        POETRY_VIRTUALENVS_CREATE: false
    - name: Run linters
      uses: pre-commit/action@v3.0.0
  pytest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: "Set up iWF environment"
      run: docker compose -f iwf/tests/iwf-service-env/docker-compose.yml up -d
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'
    - name: Install deps
      uses: knowsuchagency/poetry-install@v1
      env:
        POETRY_VIRTUALENVS_CREATE: false
    - name: Run pytest check # sleep 30s to wait for the server to be ready
      run: sleep 30 && poetry run pytest -vv --cov="iwf/*" .
    - name: Dump docker logs
      if: always()
      uses: jwalton/gh-docker-logs@v2
